root
{
    rect
    {
        position: vec2(200, 255);
        dimensions: vec2(200, 200);
        color: #ff0011;
    }

    circle
    {
        position: vec2(22 + 44, 10 * 10);
        radius: 100;
        color: #ff2020;
    }
}
