//
// Draws sierpinski triangle!
//

$SIN30: 0.86602540378;
$SIDE: (200*$SIN30)*2;

.sierpinski {
	color: rgb(255-$depth*20, 255-$depth*20, 255-$depth*20);

	triangle.sierpinski {
		position: vec2(0, -200*0.5^$depth*2);
		radius: 200*0.5^$depth;
	}
	triangle.sierpinski {
		position: vec2($SIDE*0.5^$depth, 200*0.5^$depth);
		radius: 200*0.5^$depth;
	}
	triangle.sierpinski {
		position: vec2(-$SIDE*0.5^$depth, 200*0.5^$depth);
		radius: 200*0.5^$depth;
	}
}

root {
	triangle {
		color: #000000;
		radius: 200;
		position: vec2(200, 250);
		triangle.sierpinski {
			rotation: 180.0;
			radius: 200*0.5;
		}
	}
}
