root
{
    circle
    {
        position: vec2(0, 210);
        radius: 100;
        color: #00ff00;

        rect
        {
            position: vec2(0, 0);
            dimensions: vec2(200, 200);
            color: #ff0011;
        }
    }
}
