# This file contains the formatting used in DeamerProject
# Latest edit: 18/03/2021 by Thimo Bohmer

Language: Cpp
Standard: c++17

ColumnLimit: 100
TabWidth: 4
IndentWidth: 4
AccessModifierOffset: -4
MaxEmptyLinesToKeep: 1
PointerAlignment: Left

UseCRLF: false
UseTab: true


AlwaysBreakAfterReturnType: None
AlwaysBreakBeforeMultilineStrings: true
AlwaysBreakTemplateDeclarations: Yes

BreakBeforeBraces: Custom
BraceWrapping:
 AfterCaseLabel: false
 AfterEnum: true
 AfterStruct: true
 AfterClass: true
 AfterNamespace: true
 SplitEmptyRecord: true
 SplitEmptyFunction: true
 SplitEmptyNamespace: true
 AfterControlStatement: Always
 BeforeElse: true
 AfterControlStatement: Always
 AfterFunction: true

ConstructorInitializerAllOnOneLineOrOnePerLine: true
BreakConstructorInitializers: BeforeColon

CompactNamespaces: true

IncludeBlocks: Merge

IndentPPDirectives: None

NamespaceIndentation: All

SortUsingDeclarations: true

AlignEscapedNewlines: Left

FixNamespaceComments: false

SpaceBeforeAssignmentOperators: true
SpaceBeforeParens: ControlStatements
SpaceBeforeSquareBrackets: false
SpacesInCStyleCastParentheses: false
SpaceAfterTemplateKeyword: false
SpaceBeforeInheritanceColon: true
SpaceAfterLogicalNot: false
SpaceBeforeRangeBasedForLoopColon: true

AllowAllConstructorInitializersOnNextLine: false
AllowShortIfStatementsOnASingleLine: false
AllowShortFunctionsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
KeepEmptyLinesAtTheStartOfBlocks: false